body {
    background-color: white;
    max-width: 900px;
    margin: auto;
    
}

#Title, #subtitle, #post1_title, #post2_title{
    color: black;
    font-style: italic;
}

#title{
    font-size: 30px;
}
#subtitle{
    font-size: 20px;
    
}

#post1_title, #post2_title {
    font-size: 16px;
    
}

#post1 {
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    margin: 30px;
    border-radius: 5%;
}

#image_title, #image_article {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: justify;
}

a {
    color: black;
    text-decoration: underline;
}

li {
    list-style: georgian;
    padding-left:15px;

}

h1 {
    text-align: center;
}

footer {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}